<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}PocketSmart AI{% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', path='css/style.css') }}"
    >
</head>

<body>

    <nav class="navbar">

        <div class="logo">
            💰 PocketSmart AI
        </div>

        <div class="nav-links">

            <a href="/">Home</a>

            {% if user %}
                <a href="/dashboard">Dashboard</a>
                <a href="/history">History</a>
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {% endif %}

        </div>

    </nav>

    <main class="container">

        {% block content %}
        {% endblock %}

    </main>

    <footer>

        <p>
            © 2026 PocketSmart AI |
            Your Smart Budget & Recommendation Assistant
        </p>

    </footer>

    <script
        src="{{ url_for('static', path='js/script.js') }}">
    </script>

</body>
</html>